
<ion-content>

  <p>Contenuto impostazioni</p>

  <p>{{conta}}</p>
  <ion-button color="secondary" size="large" (click)="inserisci()">Inserisci riga</ion-button>

  <ion-button color="secondary" size="large" (click)="seleziona()">Seleziona tutto</ion-button>

  <ion-button color="secondary" size="large" (click)="selezionaById()">Seleziona by id</ion-button>

  <ion-button color="secondary" size="large" (click)="update()">Aggiorna</ion-button>

  <ion-button color="secondary" size="large" (click)="cancellaById()">Delete by id</ion-button>

  <ion-button color="secondary" size="large" (click)="cancella()">Delete</ion-button>

</ion-content>
